<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wilfredo.poke.module">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application>
        <activity
            android:name="com.wilfredo.poke.module.ui.HostActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <service
            android:name=".data.network.LocationService"
            android:exported="false"
            android:foregroundServiceType="location" />
    </application>

</manifest>